menu{
    color: green;
        font-size: 400%	;
}
onderdeellijst{
    color: darkred;
}
a:visited{
  color:darkred;

}
a:link{
  color:darkred;}
body 
{background-color: lightblue;
}

side{
	background-color: lightgreen;
}

onderdeel{
	color: darkred;
	font-size: 300%;
}
p{
	color: gray;
}
t{
color:black;
font-size: 100%;
}